* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cell {
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}

#gameContainer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: blue;
    height: 100vh;
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
  }

  .game {
    font-size: 40px;
    font-weight: 800;
    color: red;
    line-height: 1.5;
  }

  h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.5;
  }

  h1 cite {
    font-size: 40px;
    font-weight: 800;
    color: red;
    line-height: 1.5;
  }
  #restartBtn {
    margin-top: 2rem;
    cursor: pointer;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#restartBtn:hover {background-color: #3e8e41}

#restartBtn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}